body{
    margin: 0px;
    padding: 0px;
}

/*Header section css style Start*/
.main-header{
    display: flex;
    margin-left: px;
    justify-content: space-evenly;
    background-color: black;
}

.menu-bar{
    display: flex;
    margin-top: 70px;
    list-style: none;
}

.menu-bar li a{
    list-style: none;
    text-decoration: none;
    padding-left: 50px;
    font-size: 25px;
    color: white; 
}

.menu-bar li a:hover{
    color: orangered;
}

.text{
    color: rgb(233, 214, 214);
    font-size: 40px;
}
/*Header sedtion css style End*/


/*Main-container-one section css style Start*/
.main-container-one{
    display: flex;
    background-color: black;
    height: 550px;
}

.bannar-one{
    width: 50%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 80px;
}

.text-one{
    color: white;
}

h4{
    color: red;
    font-size: 20px;
    letter-spacing: 1px;
}

h2{
    font-size: 40px;
    word-spacing: 5px;
    letter-spacing: 1px;
}

p{
    font-size: 20px;
    letter-spacing: 1px;
}

button{
    background: orangered;
    padding: 15px;
    border-radius: 20px;
    font-size: 18px;
}


.bannar-two{
    width: 50%;
}

.bannar-two img{
    width: 400px;
    height: 500px;
    margin-left: 50px;
    margin-top: 50px;
}
/*Main-container section css style End*/


/*Main-container-two section css style Start*/
.main-container-two{
    margin-top: 100px;
}

.gym-icon{
    display: flex;
}

.gym-icon-one{
    width: 400px;
    height: 500px;
    padding: 20px;
    margin: 20px;
    margin-left: 140px;
    background-color: darkgrey;
    border: 2px solid rgb(150, 149, 149);
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px rgb(165, 163, 163);
}

.gym-icon-one:hover{
    height: 520px;
    background-color: pink;
}

.gym-icon-two{
    width: 400px;
    height: 500px;
    padding: 20px;
    margin: 20px;
    background-color: darkgrey;
    border: 2px solid rgb(150, 149, 149);
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px rgb(165, 163, 163);
}

.gym-icon-two:hover{
    height: 520px;
    background-color: pink;
}

.gym-icon-tree{
    width: 400px;
    height: 500px;
    padding: 20px;
    margin: 20px;
    margin-right: 140px;
    background-color: darkgrey;
    border: 2px solid rgb(150, 149, 149);
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px rgb(165, 163, 163);
}

.gym-icon-tree:hover{
    height: 520px;
    background-color: pink;
}